<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Side</title>
    <link rel="stylesheet" type="text/css" href="/css/addfood.css">
</head>

<body>
    <header>
        <div id="logo">
            <a style="cursor: pointer; text-decoration: none; color: #fff;" href="/">CuisineConnect</a>
            <p>Admin Panel</p>
        </div>
        <button class="same" id="logout-button"><a href="/logout" id="logout">Logout</a></button>
    </header>
    

    <div class="container">
        <div class="form-section">
            <h1>Add Food Item</h1>
            <form action="/admin" method="post" enctype="multipart/form-data" class="add-food-form">
                <label for="image">Image</label>
                <input type="file" name="image" id="image" required>

                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>

                <label for="price">Price</label>
                <input type="number" name="price" id="price" required>

                <button type="submit">Add</button>
            </form>
        </div>

        <div class="edit-section">
            <div>
                <h1>Edit Food Item</h1>
            </div>
            <div class="foodcont">
                <% foods.forEach(food => { %>
                    <div class="food-item">
                        <div>
                            <img src="/Images/<%= food.image %>" alt="<%= food.name %>">
                            <h2><%= food.name %></h2>
                        </div>
                        <div>
                            <p>Price: Rs.<%= parseFloat(food.price).toFixed(2) %></p>
                        </div>
                        <div class="delete-btn">
                            <form method="post" action="/admin/<%= food._id %>?_method=DELETE" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </div>
        
                        <form class="edit-form" method="post" action="/admin/<%= food._id %>?_method=PUT" enctype="multipart/form-data">
                            <div>
                                <input type="hidden" name="_method" value="PUT">
                            </div>
        
                            <div>
                                <label for="edit-name-<%= food._id %>">Name:</label>
                                <input type="text" name="name" id="edit-name-<%= food._id %>" value="<%= food.name %>" required>
                            </div>
        
                            <div>
                                <label for="edit-price-<%= food._id %>">Price:</label>
                                <input type="number" name="price" id="edit-price-<%= food._id %>" value="<%= parseFloat(food.price).toFixed(2) %>" required>
                            </div>
        
                            <div>
                                <label for="edit-image-<%= food._id %>">Image:</label>
                                <input class="imaginpt" type="file" name="image" id="image-<%= food._id %>">
                            </div>
                            <div>
                                <button type="submit" class="edit-btn">&#9998;   Edit</button>
                            </div>
                        </form>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>

</html>
