<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Catering Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./css/food.css">
  <link rel="stylesheet" type="text/css" href="./css/header.css">
  <link rel="stylesheet" href="./css/footer.css">
  <!-- <link rel="stylesheet" type="text/css" href="./css/menu.css"> -->


</head>
<body>
  <!-- <h1>Food Catering Site</h1> -->
  <%-include("./partial/Header");%>

  <div class="motion">
    <!-- <div><B>CuisineConnect</B></div> -->
  </div>

  <!-- <div class="food-container">
    <% foods.forEach(food => { %>
      <div class="food-item">
        <img src="/FoodImage/<%= food.image %>" alt="<%= food.name %>">
        <h2><%= food.name %></h2>
        <p>Price: $<%= parseFloat(food.price).toFixed(2) %></p> 
        <form action="/cart">
          <button type="submit" class="add-to-cart-button">+</button>
        </form>
      </div>
    <% }); %>
  </div> -->

  <%-include("./partial/Footer");%>

</body>
</html>
